footer{
  height: 5.5vw;
  max-height: 110px;
  background: #000000;
  padding:  0 5%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  .lashes{
    align-self: center;
    font-size: 1.8rem;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    letter-spacing: 0.17em;
    margin-right: auto;
  }

  .container{
    width: 200px;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    margin: 0;
    .copyright{
      align-self: center;
      color: #FFFFFF;
      margin: 0 3%;
    }
    .allRights{
      align-self: center;
      font-family: "Sukhumvit Set",sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 1.5rem;
      text-align: center;
      color: #FFFFFF;
    }
  }

}