.fourthScroll{
  height: 49.48vw;
  max-height: 950px;
  background: #1A1A1A;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  .blackContainer{
    align-self: center;
  }
  .image{
    position: relative;
    top: -8%;
    height: 108.42%;
    width: 30.2%;
  }
}