.thirdScroll{
  height: 80.99vw;
  max-height: 1555px;
  .body, .iphone{
    align-self: center;
    margin: 0;
  }


  .container{
    display: flex;
    justify-content: space-evenly;
    position:relative;
    margin-top: 5%;
  }


  .iphone{
    position: relative;
    width: 38%;
    height: 100%;
    align-self: start;
  }
  .andrea{
    align-self: start;
    position: relative;
    top: -7%;
    width: 79.17%;
    height: 48.87%;
  }
}
