@import url("http://fonts.cdnfonts.com/css/saudagar");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,80");
@font-face {
  font-family: "Sukhumvit Set";
  src: url("/src/Parts/assets/Fonts/SukhumvitSet-Text.woff2") format("woff2"), url("/src/Parts/assets/Fonts/SukhumvitSet-Text.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.mainSection {
  background: no-repeat center center/cover url("/src/Parts/assets/img/main-background.png");
  z-index: 2;
  min-width: 375px;
  font-size: 12px;
}
.mainSection .filter {
  z-index: 5;
  background: rgba(0, 0, 0, 0.72);
  height: 100%;
  min-width: 300px;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
}
.mainSection header {
  position: absolute;
  top: 2vw;
  box-sizing: border-box;
  padding: 0 8%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
.mainSection header > * {
  text-align: center;
}
.mainSection header .header-container {
  display: flex;
  position: relative;
  justify-content: flex-end;
  width: auto;
}
.mainSection header .header-container * {
  text-align: center;
}
.mainSection header p {
  font-family: "Sukhumvit Set", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  color: #FFFFFF;
  white-space: nowrap;
}
.mainSection header .lashes {
  align-self: center;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 1.9375rem;
  letter-spacing: 0.17em;
  text-align: center;
}
.mainSection header .comingSoon {
  align-self: center;
  text-align: center;
  margin-right: 2em;
}
.mainSection header .apple {
  font-size: 1.2rem;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 13px;
  color: white;
}
.mainSection header .appStore {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5%;
}
.mainSection header .google {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 13px;
  font-size: 1.1rem;
  color: white;
}
.mainSection header .googlePlay {
  margin-top: auto;
  margin-bottom: auto;
}
.mainSection .container {
  padding: 20% 0;
  height: 60%;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.mainSection .container h1 {
  margin: 0;
  font-family: "Saudagar", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 12.5rem;
  color: #FFFFFF;
  text-transform: uppercase;
  line-height: 100%;
  overflow: hidden;
  width: 5ch;
  padding: 0;
  animation: animation-text 7s infinite;
}
@keyframes animation-text {
  from {
    width: 0;
  }
}
.mainSection .container .quality {
  margin: 0;
  position: relative;
  font-family: "Sukhumvit Set", sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 90%;
}
.mainSection .container button {
  height: 59px;
  width: 282px;
}
.mainSection .container .subscribe {
  position: relative;
  background: #DCAC9B;
  border: none;
  border-radius: 2px;
  font-family: "Sukhumvit Set", serif;
  font-weight: bold;
  font-size: 1.8rem;
  color: #1A1A1A;
  text-align: center;
  margin: 5% 0 0 0;
}

@media (max-width: 750px) {
  .mainSection {
    min-height: 320px;
  }
  .mainSection header {
    height: 100%;
    padding: 13%;
    flex-direction: column;
    justify-content: space-between;
  }
  .mainSection header .header-container {
    align-self: center;
    justify-content: center;
  }
  .mainSection .container {
    padding: 55% 0;
    font-size: 10px;
  }
}

/*# sourceMappingURL=mainSection.css.map */
