.section4{
  //height: 103.33vw;
  //max-height: 1700px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  padding: 10% 0;
  box-sizing: border-box;

  .container{
    display: flex;
    justify-content:space-around;
    width: 100%;
  }
  p{
    margin: 0;
  }
.container-buttons{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  .comingSoon{
    font-size: 1.8rem;
    color: #000000;
    margin:  0 30%;
    text-transform: uppercase;
    width: 100%;
  }
  button{
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding-top: 2.5px;
    position:relative;
    width: 182px;
    height: 52px;

    background: #000000;
    color: #FFFFFF;
    border-radius: 2px;
    margin: 2% 0.4%;
    font-size: 18px;
    i{
      margin-left: 10%;
      align-self: center;
    }
    .pButton{
      position: relative;
      align-self: center;
      font-family: "Sukhumvit Set", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 1em;
      text-align: center;
      color: white;
      margin-right: 10%;
    }
    .left-apple{
      border:none;
      box-shadow: black;
      color: #FFFFFF;
      font-size: 1.6em;
    }
    .left-google{
      color: #FFFFFF;
      font-size: 1.3em;
      top:-5%;
    }
  }
}
}




.group{
  position: relative;
  height: 50vw;
  width: 100%;
  min-height: 300px;
  max-height: 900px;
  display: flex;
  align-content: center;
  .phone{
    position: absolute;
    top: 0;

    height: 100%;
    margin: auto;
    left: 0; right: 0;
  }
  .circles{
    height: 65%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    top:0; bottom: 0;
    .circle{
      height: 100%;
      width: 42.1%;
      max-height: 550px;
      max-width: 550px;
      min-height: 202px;
      min-width: 202px;
      margin: 0 1%;
    }
    :first-child{
      animation: animation-circle1 15s ease infinite;
      position: relative;
    }
    :last-child{
      animation: animation-circle2 15s ease infinite;
      position: relative;
    }

    @keyframes animation-circle1 {
      from{
        order: 0;
        left:0;
      }
      50%{
        left:66.7%;
      }
      to{
        left:0;
      }
    }
    @keyframes animation-circle2 {
      from{
        order: 2;
        right:0;
      }
      50%{
        right:66.7%;
      }
      to{
        right:0;
      }
    }
  }

}


@media (max-width: 750px) {
  .section4{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .container{
      flex-direction: column;
      align-content: center;
      padding: 0 7%;
      box-sizing: border-box;
      *{
        width: 100%;
        height: auto;
      }
      >*:not(:last-child){
        margin-bottom: 10%;
      }
    }
    .group{
      height: 90vw;
      width: 150%;
      .circles{
        width: 170vw;
        .circle{
          width: 90.1%;
        }
      }
    }
    .container-buttons{
      button{
        width: 158px;
        height: 45px;
        font-size: 12px;
      }
    }
  }
}

