.section2{
  //height: 80.99vw;
  //max-height: 1555px;
  .body, .iphone{
    align-self: center;
    margin: 0;
  }
  .container{
    display: flex;
    justify-content: space-evenly;
    position:relative;
    box-sizing: border-box;
    padding: 10%;
    margin: 5% 0 10% 0;
  }
  .iphone{
    position: relative;
    width: 38%;
    height: 100%;
    align-self: start;
  }
  .andrea{
    align-self: start;
    position: relative;
    top: -100px;
    width: 79.17%;
    height: 48.87%;
  }
}

@media (max-width: 750px) {
  .section2 {
    //height: 177.33vw;
    //min-height: 665px;
    .andrea{
      top:0;
      width: 100%;
      height: auto;
      //height: 31.23%;
    }
    .container{
      padding: 5%;
      box-sizing: border-box;
      height: max-content;
      width: 100%;
      flex-direction: column-reverse;
      align-content: center;
      float: bottom;
      *{width: 98%}
      .iphone{
        margin-top: 10%;
        height: 30%;
      }
    }
  }

}